/* Join @font-face Ubuntu */
// TODO: Fix it. Fonts inside images folder.
@font-face {
  font-family: 'Ubuntu';
  src: image-url('ubuntu/Ubuntu-R.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  color: white;
  font-family: 'Ubuntu';
  font-size: 25px;
  margin: 0;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  from {
    background: #0C1B06;
  }
  to {
    opacity: 1;
    background: #5a9604;
  }
}

/* Standard syntax */
@keyframes myfirst {
  from {
    background: #0C1B06;
  }
  to {
    opacity: 1;
    background: #5a9604;
  }
}

.tile-navigator {
  position: fixed;
  background: gray;
  right: 0;

  a {
    font-size: 12px;
    margin: 10px;
    display: block;
    cursor: pointer;
  }
}

.tile {
  height: 100vh;
  padding: 0 10vw;

  background: image-url('textures/2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.tile--2 {
    background: image-url('textures/5.jpg') no-repeat center center fixed;
  }

  &.tile--3 {
    background: image-url('textures/1.png') no-repeat center center fixed;
  }

  &.tile--4 {
    background: image-url('textures/3.jpg') no-repeat center center fixed;
  }

  h1 {
    margin-top: 0;
    padding-top: 50px;
  }

  .tile__item {
    background: #0C1B06;
    opacity: 0.4;
    display: inline-block;
    box-sizing: border-box;
    padding: 30px;
    width: 22vw;
    height: 30vh;
    margin: 2vh;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 11px 6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 11px 6px rgba(0,0,0,1);
    box-shadow: 0px 0px 11px 6px rgba(0,0,0,1);

    &:hover {
      box-shadow: none;
//    background: #5a9604;

//      -webkit-animation: myfirst 1s;
//      animation: myfirst 1s;
    }
  }
}

.tile--6 {
  background: rgb(131, 38, 56);

//  color: rgb(131, 38, 56);
//  color: rgb(252, 113, 54);
//  color: rgb(92, 64, 52);

  color: rgb(247, 214, 171);

  .item-pfl {
    float: left;
    box-sizing: border-box;
    padding: 30px;
    width: 22vw;
    height: 30vh;
    margin: 2vh;
    cursor: pointer;
    background: rgb(247, 214, 171);
    color: rgb(131, 38, 56);
    text-transform: uppercase;

    &:nth-child(2) {
      background: rgb(92, 64, 52);
      color: rgb(247, 214, 171);
    }

    &:nth-child(3) {
      background: rgb(252, 113, 54);
      color: rgb(247, 214, 171);
    }

    &:nth-child(4) {
      background: rgb(131, 38, 56);
      color: rgb(247, 214, 171);
      border: 1px solid black;
    }

    &:nth-child(5) {
      background: rgb(247, 214, 171);
      color: rgb(252, 113, 54);
      font-weight: bold;
    }
  }
}

.tile--7 {
  background: #fbfbfb;

//  color: #1E262C;
//  color: #2C3841;
//  color: #DB6A4D;
//  color: #FD7A58;
//  color: #E5E4DA;
//  color: #C9C2B2;
//  color: #A59A7F;

  color: #1E262C;

  .item-pfl {
    float: left;
    box-sizing: border-box;
    padding: 30px;
    width: 22vw;
    height: 30vh;
    margin: 2vh;
    cursor: pointer;
    background: #1E262C;
    color: #fbfbfb;
    text-transform: uppercase;

    &:nth-child(2) {
      background: #DB6A4D;
      color: #fbfbfb;
      &:hover {
        background: #FD7A58;
      }
    }

    &:nth-child(3) {
      background: #E5E4DA;
      color: #1E262C;
    }

    &:nth-child(4) {
      background: #E5E4DA;
      color: #DB6A4D;
    }

    &:nth-child(5) {
      background: #1E262C;
      color: #DB6A4D;
    }

    &:hover {
      background: #2C3841;
    }
  }
}

.tile--8 {
  background: #0E0E0E;
  color: #fafafa;

//  color: #0E0E0E;
//  color: #CB401F;
//  color: #EA9E0D;
//  color: #939393;

  .item-pfl {
    float: left;
    box-sizing: border-box;
    padding: 30px;
    width: 22vw;
    height: 30vh;
    margin: 2vh;
    cursor: pointer;
    background: #EA9E0D;
    color: #fafafa;
    text-transform: uppercase;

    &:nth-child(2) {
      background: #CB401F;
      color: #fafafa;
    }

    &:nth-child(3) {
      background: #939393;
      color: #fafafa;
    }

    &:nth-child(7) {
      background: #CB401F;
      color: #0E0E0E;
    }
  }
}