main {
  background: #fbfbfb;

  color: #1E262C;
  color: #2C3841;
  color: #DB6A4D;
  color: #FD7A58;
  color: #E5E4DA;
  color: #C9C2B2;
  color: #A59A7F;
  color: #1E262C;

  .item-pfl {
    float: left;
    box-sizing: border-box;
    padding: 30px;
    width: 22vw;
    height: 30vh;
    margin: 2vh;
    cursor: pointer;
    background: #1E262C;
    color: #fbfbfb;
    text-transform: uppercase;

    &:nth-child(2) {
      background: #DB6A4D;
      color: #fbfbfb;
      &:hover {
        background: #FD7A58;
      }
    }

    &:nth-child(3) {
      background: #E5E4DA;
      color: #1E262C;
    }

    &:nth-child(4) {
      background: #E5E4DA;
      color: #DB6A4D;
    }

    &:nth-child(5) {
      background: #1E262C;
      color: #DB6A4D;
    }

    &:hover {
      background: #2C3841;
    }
  }
}

main {
  position: relative;
}

section {
  height: 100vh;
  width: 80vw;
  position: absolute;
  padding: 0 10vw;
  //float: left;

  h1 {
    padding-top: 20px;
  }
}