<main id="main">

  <section id="box1" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main" class="active">Main</li>
          <li id="link-about">About us</li>
          <li id="link-portfolio">Portfolio</li>
          <li id="link-skills">Skills</li>
          <li id="link-work">Our work</li>
          <li id="link-price">Price</li>
          <li id="link-reviews">Reviews</li>
          <li id="link-contacts">Contacts</li>
          <li id="link-feedback">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>Main page</h2>
    <h3>This is the main page of portfolio site</h3>
  </section>

  <section id="box2" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main">Main</li>
          <li id="link-about" class="active">About us</li>
          <li id="link-portfolio">Portfolio</li>
          <li id="link-skills">Skills</li>
          <li id="link-work">Our work</li>
          <li id="link-price">Price</li>
          <li id="link-reviews">Reviews</li>
          <li id="link-contacts">Contacts</li>
          <li id="link-feedback">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>About us page</h2>
    <h3>About us</h3>
  </section>

  <section id="box3" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main">Main</li>
          <li id="link-about">About us</li>
          <li id="link-portfolio" class="active">Portfolio</li>
          <li id="link-skills">Skills</li>
          <li id="link-work">Our work</li>
          <li id="link-price">Price</li>
          <li id="link-reviews">Reviews</li>
          <li id="link-contacts">Contacts</li>
          <li id="link-feedback">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>Portfolio page</h2>
    <h3>Our portfolio</h3>
  </section>

  <section id="box4" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main">Main</li>
          <li id="link-about">About us</li>
          <li id="link-portfolio">Portfolio</li>
          <li id="link-skills" class="active">Skills</li>
          <li id="link-work">Our work</li>
          <li id="link-price">Price</li>
          <li id="link-reviews">Reviews</li>
          <li id="link-contacts">Contacts</li>
          <li id="link-feedback">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>Skills page</h2>
    <h3>Our skills</h3>
  </section>

  <section id="box5" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main">Main</li>
          <li id="link-about">About us</li>
          <li id="link-portfolio">Portfolio</li>
          <li id="link-skills">Skills</li>
          <li id="link-work" class="active">Our work</li>
          <li id="link-price">Price</li>
          <li id="link-reviews">Reviews</li>
          <li id="link-contacts">Contacts</li>
          <li id="link-feedback">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>Work page</h2>
    <h3>Our work how</h3>
  </section>

  <section id="box6" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main">Main</li>
          <li id="link-about">About us</li>
          <li id="link-portfolio">Portfolio</li>
          <li id="link-skills">Skills</li>
          <li id="link-work">Our work</li>
          <li id="link-price" class="active">Price</li>
          <li id="link-reviews">Reviews</li>
          <li id="link-contacts">Contacts</li>
          <li id="link-feedback">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>Price page</h2>
    <h3>Prices</h3>
  </section>

  <section id="box7" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main">Main</li>
          <li id="link-about">About us</li>
          <li id="link-portfolio">Portfolio</li>
          <li id="link-skills">Skills</li>
          <li id="link-work">Our work</li>
          <li id="link-price">Price</li>
          <li id="link-reviews" class="active">Reviews</li>
          <li id="link-contacts">Contacts</li>
          <li id="link-feedback">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>Reviews page</h2>
    <h3>Reviews of our clients</h3>
  </section>

  <section id="box8" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main">Main</li>
          <li id="link-about">About us</li>
          <li id="link-portfolio">Portfolio</li>
          <li id="link-skills">Skills</li>
          <li id="link-work">Our work</li>
          <li id="link-price">Price</li>
          <li id="link-reviews">Reviews</li>
          <li id="link-contacts" class="active">Contacts</li>
          <li id="link-feedback">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>Contacts page</h2>
    <h3>Our contacts</h3>
  </section>

  <section id="box9" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main">Main</li>
          <li id="link-about">About us</li>
          <li id="link-portfolio">Portfolio</li>
          <li id="link-skills">Skills</li>
          <li id="link-work">Our work</li>
          <li id="link-price">Price</li>
          <li id="link-reviews">Reviews</li>
          <li id="link-contacts">Contacts</li>
          <li id="link-feedback" class="active">Feedback</li>
        </ul>
      </nav>
    </header>
    <h2>Feedback page</h2>
    <h3>feedback form</h3>
  </section>

</main>




