<div id="main">

  <section id="box1" class="box">

        <ul>
          <li id="link-main" class="active"><a href="#">Main</a></li>
          <li id="link-skills"><a href="#">Skills</a></li>
          <li id="link-work"><a href="#">Work</a></li>
          <li id="link-about"><a href="#">About</a></li>
          <li id="link-price"><a href="#">Price</a></li>
          <li id="link-portfolio"><a href="#">Portfolio</a></li>
          <li id="link-reviews"><a href="#">Reviews</a></li>
          <li id="link-contacts"><a href="#">Contacts</a></li>
          <li id="link-feedback"><a href="#">Feedback</a></li>
        </ul>

    <h2>Main page</h2>
    <h3>Main page of the portfolio site</h3>
  </section>

  <section id="box2" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main"><a href="#">Main</a></li>
          <li id="link-skills" class="active"><a href="#">Skills</a></li>
          <li id="link-work"><a href="#">Work</a></li>
          <li id="link-about"><a href="#">About</a></li>
          <li id="link-price"><a href="#">Price</a></li>
          <li id="link-portfolio"><a href="#">Portfolio</a></li>
          <li id="link-reviews"><a href="#">Reviews</a></li>
          <li id="link-contacts"><a href="#">Contacts</a></li>
          <li id="link-feedback"><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <h2>Skills page</h2>
    <h3>Our skills</h3>
  </section>

  <section id="box3" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main"><a href="#">Main</a></li>
          <li id="link-skills"><a href="#">Skills</a></li>
          <li id="link-work" class="active"><a href="#">Work</a></li>
          <li id="link-about"><a href="#">About</a></li>
          <li id="link-price"><a href="#">Price</a></li>
          <li id="link-portfolio"><a href="#">Portfolio</a></li>
          <li id="link-reviews"><a href="#">Reviews</a></li>
          <li id="link-contacts"><a href="#">Contacts</a></li>
          <li id="link-feedback"><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <h2>Work page</h2>
    <h3>How we work</h3>
  </section>

  <section id="box4" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main"><a href="#">Main</a></li>
          <li id="link-skills"><a href="#">Skills</a></li>
          <li id="link-work"><a href="#">Work</a></li>
          <li id="link-about" class="active"><a href="#">About</a></li>
          <li id="link-price"><a href="#">Price</a></li>
          <li id="link-portfolio"><a href="#">Portfolio</a></li>
          <li id="link-reviews"><a href="#">Reviews</a></li>
          <li id="link-contacts"><a href="#">Contacts</a></li>
          <li id="link-feedback"><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <h2>About us page</h2>
    <h3>About us</h3>
  </section>

  <section id="box5" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main"><a href="#">Main</a></li>
          <li id="link-skills"><a href="#">Skills</a></li>
          <li id="link-work"><a href="#">Work</a></li>
          <li id="link-about"><a href="#">About</a></li>
          <li id="link-price" class="active"><a href="#">Price</a></li>
          <li id="link-portfolio"><a href="#">Portfolio</a></li>
          <li id="link-reviews"><a href="#">Reviews</a></li>
          <li id="link-contacts"><a href="#">Contacts</a></li>
          <li id="link-feedback"><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <h2>Prices page</h2>
    <h3>Our prices</h3>
  </section>

  <section id="box6" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main"><a href="#">Main</a></li>
          <li id="link-skills"><a href="#">Skills</a></li>
          <li id="link-work"><a href="#">Work</a></li>
          <li id="link-about"><a href="#">About</a></li>
          <li id="link-price"><a href="#">Price</a></li>
          <li id="link-portfolio" class="active"><a href="#">Portfolio</a></li>
          <li id="link-reviews"><a href="#">Reviews</a></li>
          <li id="link-contacts"><a href="#">Contacts</a></li>
          <li id="link-feedback"><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <h2>Portfolio page</h2>
    <h3>Our portfolio</h3>
  </section>

  <section id="box7" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main"><a href="#">Main</a></li>
          <li id="link-skills"><a href="#">Skills</a></li>
          <li id="link-work"><a href="#">Work</a></li>
          <li id="link-about"><a href="#">About</a></li>
          <li id="link-price"><a href="#">Price</a></li>
          <li id="link-portfolio"><a href="#">Portfolio</a></li>
          <li id="link-reviews" class="active"><a href="#">Reviews</a></li>
          <li id="link-contacts"><a href="#">Contacts</a></li>
          <li id="link-feedback"><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <h2>Reviews page</h2>
    <h3>Reviews fo our clients</h3>
  </section>

  <section id="box8" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main"><a href="#">Main</a></li>
          <li id="link-skills"><a href="#">Skills</a></li>
          <li id="link-work"><a href="#">Work</a></li>
          <li id="link-about"><a href="#">About</a></li>
          <li id="link-price"><a href="#">Price</a></li>
          <li id="link-portfolio"><a href="#">Portfolio</a></li>
          <li id="link-reviews"><a href="#">Reviews</a></li>
          <li id="link-contacts" class="active"><a href="#">Contacts</a></li>
          <li id="link-feedback"><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <h2>Contacts</h2>
    <h3>Our contacts</h3>
  </section>

  <section id="box9" class="box">
    <header>
      <nav>
        <ul>
          <li id="link-main"><a href="#">Main</a></li>
          <li id="link-skills"><a href="#">Skills</a></li>
          <li id="link-work"><a href="#">Work</a></li>
          <li id="link-about"><a href="#">About</a></li>
          <li id="link-price"><a href="#">Price</a></li>
          <li id="link-portfolio"><a href="#">Portfolio</a></li>
          <li id="link-reviews"><a href="#">Reviews</a></li>
          <li id="link-contacts"><a href="#">Contacts</a></li>
          <li id="link-feedback" class="active"><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </header>
    <h2>Feedback page</h2>
    <h3>Feedback form</h3>
  </section>

</div>