<div class="pfl-container">

    <div class="pfl-navigator">
      <%= link_to 'PFL', app_path %>
    </div>

  <div class="tile">
    <h1>Portfolio site</h1>

    <div class="tile__item">
      <h4>Examples</h4>
    </div>
    <div class="tile__item">
      <h4>Work</h4>
    </div>
    <div class="tile__item">
      <h4>Some</h4>
    </div>
    <div class="tile__item">
      <h4>Other</h4>
    </div>
    <div class="tile__item">
      <h4>One more</h4>
    </div>
    <div class="tile__item">
      <h4>Ohoh</h4>
    </div>
  </div>

  <hr/>

  <div class="tile tile--3">
    <h1>Portfolio site</h1>

    <div class="tile__item">
      <h4>Examples</h4>
    </div>
    <div class="tile__item">
      <h4>Work</h4>
    </div>
    <div class="tile__item">
      <h4>Some</h4>
    </div>
    <div class="tile__item">
      <h4>Other</h4>
    </div>
    <div class="tile__item">
      <h4>One more</h4>
    </div>
    <div class="tile__item">
      <h4>Ohoh</h4>
    </div>
  </div>

  <hr/>

  <div class="tile tile--6">
    <h1>Portfolio site</h1>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

  <hr/>

  <div class="tile tile--7">
    <h1>Portfolio site</h1>
    <div class="item-pfl" id="animatedBitch"> I am mad!!!11</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

  <hr/>

  <div class="tile tile--8">
    <h1>Portfolio site</h1>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

    <main id="main">
      <section data-position="2.4">
        <h1>Portfolio page</h1>
        <div class="item-pfl link-portfolio">Portfolio</div>
        <div class="item-pfl link-skills">Skills</div>
        <div class="item-pfl link-work">Work</div>
        <div class="item-pfl link-price">Price</div>
        <div class="item-pfl link-about">About</div>
        <div class="item-pfl link-contacts">Contacts</div>
      </section>

      <section data-position="3.6">
        <h1>Skills page</h1>
        <div class="item-pfl link-portfolio">Portfolio</div>
        <div class="item-pfl link-skills">Skills</div>
        <div class="item-pfl link-work">Work</div>
        <div class="item-pfl link-price">Price</div>
        <div class="item-pfl link-about">About</div>
        <div class="item-pfl link-contacts">Contacts</div>
      </section>

      <section data-position="6.2">
        <h1>Work page</h1>
        <div class="item-pfl link-portfolio">Portfolio</div>
        <div class="item-pfl link-skills">Skills</div>
        <div class="item-pfl link-work">Work</div>
        <div class="item-pfl link-price">Price</div>
        <div class="item-pfl link-about">About</div>
        <div class="item-pfl link-contacts">Contacts</div>
      </section>

      <section data-position="7.8">
        <h1>Price page</h1>
        <div class="item-pfl link-portfolio">Portfolio</div>
        <div class="item-pfl link-skills">Skills</div>
        <div class="item-pfl link-work">Work</div>
        <div class="item-pfl link-price">Price</div>
        <div class="item-pfl link-about">About</div>
        <div class="item-pfl link-contacts">Contacts</div>
      </section>

      <section data-position="5.5">
        <h1>About page</h1>
        <div class="item-pfl link-portfolio">Portfolio</div>
        <div class="item-pfl link-skills">Skills</div>
        <div class="item-pfl link-work">Work</div>
        <div class="item-pfl link-price">Price</div>
        <div class="item-pfl link-about">About</div>
        <div class="item-pfl link-contacts">Contacts</div>
      </section>

      <section data-position="8.3">
        <h1>Contacts page</h1>
        <div class="item-pfl link-portfolio">Portfolio</div>
        <div class="item-pfl link-skills">Skills</div>
        <div class="item-pfl link-work">Work</div>
        <div class="item-pfl link-price">Price</div>
        <div class="item-pfl link-about">About</div>
        <div class="item-pfl link-contacts">Contacts</div>
      </section>
    </main>

</div>