<div class="pfl-container">

    <div class="tile-navigator"></div>

  <div class="tile">
    <h1>Portfolio site</h1>

    <div class="tile__item">
      <h4>Examples</h4>
    </div>
    <div class="tile__item">
      <h4>Work</h4>
    </div>
    <div class="tile__item">
      <h4>Some</h4>
    </div>
    <div class="tile__item">
      <h4>Other</h4>
    </div>
    <div class="tile__item">
      <h4>One more</h4>
    </div>
    <div class="tile__item">
      <h4>Ohoh</h4>
    </div>
  </div>

  <hr/>

  <div class="tile tile--3">
    <h1>Portfolio site</h1>

    <div class="tile__item">
      <h4>Examples</h4>
    </div>
    <div class="tile__item">
      <h4>Work</h4>
    </div>
    <div class="tile__item">
      <h4>Some</h4>
    </div>
    <div class="tile__item">
      <h4>Other</h4>
    </div>
    <div class="tile__item">
      <h4>One more</h4>
    </div>
    <div class="tile__item">
      <h4>Ohoh</h4>
    </div>
  </div>

  <hr/>

  <div class="tile tile--6">
    <h1>Portfolio site</h1>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

  <hr/>

  <div class="tile tile--7">
    <h1>Portfolio site</h1>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

  <hr/>

  <div class="tile tile--8">
    <h1>Portfolio site</h1>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

    <main id="main">
      <section data-position="2.4">
        <h1>Portfolio page</h1>
        <div id="link-portfolio" class="item-pfl">Portfolio</div>
        <div id="link-skills" class="item-pfl">Skills</div>
        <div id="link-work" class="item-pfl">Work</div>
        <div id="link-price" class="item-pfl">Price</div>
        <div id="link-about" class="item-pfl">About</div>
        <div id="link-contacts" class="item-pfl">Contacts</div>
      </section>

      <section data-position="3.6">
        <h1>Skills page</h1>
        <div id="link-portfolio" class="item-pfl">Portfolio</div>
        <div id="link-skills" class="item-pfl">Skills</div>
        <div id="link-work" class="item-pfl">Work</div>
        <div id="link-price" class="item-pfl">Price</div>
        <div id="link-about" class="item-pfl">About</div>
        <div id="link-contacts" class="item-pfl">Contacts</div>
      </section>

      <section data-position="6.2">
        <h1>Work page</h1>
        <div id="link-portfolio" class="item-pfl">Portfolio</div>
        <div id="link-skills" class="item-pfl">Skills</div>
        <div id="link-work" class="item-pfl">Work</div>
        <div id="link-price" class="item-pfl">Price</div>
        <div id="link-about" class="item-pfl">About</div>
        <div id="link-contacts" class="item-pfl">Contacts</div>
      </section>

      <section data-position="7.8">
        <h1>Price page</h1>
        <div id="link-portfolio" class="item-pfl">Portfolio</div>
        <div id="link-skills" class="item-pfl">Skills</div>
        <div id="link-work" class="item-pfl">Work</div>
        <div id="link-price" class="item-pfl">Price</div>
        <div id="link-about" class="item-pfl">About</div>
        <div id="link-contacts" class="item-pfl">Contacts</div>
      </section>

      <section data-position="5.5">
        <h1>About page</h1>
        <div id="link-portfolio" class="item-pfl">Portfolio</div>
        <div id="link-skills" class="item-pfl">Skills</div>
        <div id="link-work" class="item-pfl">Work</div>
        <div id="link-price" class="item-pfl">Price</div>
        <div id="link-about" class="item-pfl">About</div>
        <div id="link-contacts" class="item-pfl">Contacts</div>
      </section>

      <section data-position="8.3">
        <h1>Contacts page</h1>
        <div id="link-portfolio" class="item-pfl">Portfolio</div>
        <div id="link-skills" class="item-pfl">Skills</div>
        <div id="link-work" class="item-pfl">Work</div>
        <div id="link-price" class="item-pfl">Price</div>
        <div id="link-about" class="item-pfl">About</div>
        <div id="link-contacts" class="item-pfl">Contacts</div>
      </section>
    </main>

</div>