<div class="pfl-container">

    <div class="tile-navigator"></div>

  <div class="tile">
    <h1>Portfolio site</h1>

    <div class="tile__item">
      <h4>Examples</h4>
    </div>
    <div class="tile__item">
      <h4>Work</h4>
    </div>
    <div class="tile__item">
      <h4>Some</h4>
    </div>
    <div class="tile__item">
      <h4>Other</h4>
    </div>
    <div class="tile__item">
      <h4>One more</h4>
    </div>
    <div class="tile__item">
      <h4>Ohoh</h4>
    </div>
  </div>

  <hr/>

  <div class="tile tile--3">
    <h1>Portfolio site</h1>

    <div class="tile__item">
      <h4>Examples</h4>
    </div>
    <div class="tile__item">
      <h4>Work</h4>
    </div>
    <div class="tile__item">
      <h4>Some</h4>
    </div>
    <div class="tile__item">
      <h4>Other</h4>
    </div>
    <div class="tile__item">
      <h4>One more</h4>
    </div>
    <div class="tile__item">
      <h4>Ohoh</h4>
    </div>
  </div>

  <hr/>

  <div class="tile tile--6">
    <h1>Portfolio site</h1>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

  <hr/>

  <div class="tile tile--7">
    <h1>Portfolio site</h1>
    <div class="item-pfl" id="animatedBitch"> I am mad!!!11</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

  <hr/>

  <div class="tile tile--8">
    <h1>Portfolio site</h1>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
    <div class="item-pfl">Files</div>
  </div>

</div>