<div class="pfl-navigator">
  <%= link_to '<< Back>>', pfl_index_path %>
</div>

<section class="section-home" id="section-home" data-position="2.4">

  <div class="pflTile" id="pflTile">

    <div id="vh-example" style="overflow: hidden; position: absolute; width: 1vh;"></div>

	 <div class="pflTile__item about-tile js-link-about" id="about-tile">About Us</div>

	 <div class="pflTile__item pflTile__item--small work-tile js-link-work" id="work-tile">Work</div>

    <div class="pflTile__item portfolio-tile js-link-portfolio" id="portfolio-tile">Portfolio</div>

	 <div class="pflTile__item pflTile__item--long reviews-tile js-link-reviews" id="reviews-tile">Reviews</div>

	 <div class="pflTile__item pflTile__item--small skills-tile js-link-skills" id="skills-tile">Skills</div>

    <div class="pflTile__item pflTile__item--small price-tile js-link-price" id="price-tile">Price</div>

    <div class="pflTile__item pflTile__item--long contact-tile" id="contact-tile">Contacts</div>

  </div>

  <div class="main-menu main-menu--right-top js-main-menu">
	 <ul class="main-menu__list">
		<li class="main-menu__item main-menu__item--home">
		  <a href="#page/home" title="Home"></a>
		</li>
		<li class="main-menu__item main-menu__item--about">
		  <a href="#page/about" title="About us"></a>
		</li>
		<li class="main-menu__item main-menu__item--works">
		  <a href="#page/works" title="Works"></a>
		</li>
		<li class="main-menu__item main-menu__item--portfolio">
		  <a href="#page/portfolio" title="Portfolio"></a>
		</li>
		<li class="main-menu__item main-menu__item--reviews">
		  <a href="#page/reviews" title="Reviews"></a>
		</li>
		<li class="main-menu__item main-menu__item--skills">
		   <a href="#page/skills" title="Skills"></a>
		</li>
		<li class="main-menu__item main-menu__item--price">
		  <a href="#page/price" title="Price"></a>
		</li>
		<li class="main-menu__item main-menu__item--contacts">
		  <a href="#page/contacts" title="Contacts"></a>
		</li>
	 </ul>
  </div>

</section>

<section class="section-about" id="section-about" data-position="3.6">
  <h2>About us</h2>
  <div class="main-menu main-menu--top-left js-main-menu">
	 <ul class="main-menu__list">
		<li class="main-menu__item main-menu__item--home">
		  <a href="#page/home" title="Home"></a>
		</li>
		<li class="main-menu__item main-menu__item--works">
		  <a href="#page/works" title="Works"></a>
		</li>
		<li class="main-menu__item main-menu__item--portfolio">
		  <a href="#page/portfolio" title="Portfolio"></a>
		</li>
		<li class="main-menu__item main-menu__item--reviews">
		  <a href="#page/reviews" title="Reviews"></a>
		</li>
		<li class="main-menu__item main-menu__item--skills">
		  <a href="#page/skills" title="Skills"></a>
		</li>
		<li class="main-menu__item main-menu__item--price">
		  <a href="#page/price" title="Price"></a>
		</li>
		<li class="main-menu__item main-menu__item--contacts">
		  <a href="#page/contacts" title="Contacts"></a>
		</li>
	 </ul>
  </div>
</section>

<section class="section-works" id="section-works" data-position="6.2">
  <h2>How we work</h2>
  <div class="main-menu main-menu--top-right js-main-menu">
	 <ul class="main-menu__list">
		<li class="main-menu__item main-menu__item--home">
		  <a href="#page/home" title="Home"></a>
		</li>
		<li class="main-menu__item main-menu__item--about">
		  <a href="#page/about" title="About us"></a>
		</li>
		<li class="main-menu__item main-menu__item--portfolio">
		  <a href="#page/portfolio" title="Portfolio"></a>
		</li>
		<li class="main-menu__item main-menu__item--reviews">
		  <a href="#page/reviews" title="Reviews"></a>
		</li>
		<li class="main-menu__item main-menu__item--skills">
		  <a href="#page/skills" title="Skills"></a>
		</li>
		<li class="main-menu__item main-menu__item--price">
		  <a href="#page/price" title="Price"></a>
		</li>
		<li class="main-menu__item main-menu__item--contacts">
		  <a href="#page/contacts" title="Contacts"></a>
		</li>
	 </ul>
  </div>
</section>

<section class="section-portfolio" id="section-portfolio" data-position="7.8">
  <h2>Our portfolio</h2>
  <div class="main-menu main-menu--left-top js-main-menu">
	 <ul class="main-menu__list">
		<li class="main-menu__item main-menu__item--home">
		  <a href="#page/home" title="Home"></a>
		</li>
		<li class="main-menu__item main-menu__item--about">
		  <a href="#page/about" title="About us"></a>
		</li>
		<li class="main-menu__item main-menu__item--works">
		  <a href="#page/works" title="Works"></a>
		</li>
		<li class="main-menu__item main-menu__item--reviews">
		  <a href="#page/reviews" title="Reviews"></a>
		</li>
		<li class="main-menu__item main-menu__item--skills">
		  <a href="#page/skills" title="Skills"></a>
		</li>
		<li class="main-menu__item main-menu__item--price">
		  <a href="#page/price" title="Price"></a>
		</li>
		<li class="main-menu__item main-menu__item--contacts">
		  <a href="#page/contacts" title="Contacts"></a>
		</li>
	 </ul>
  </div>
</section>

<section class="section-reviews" id="section-reviews" data-position="5.5">
  <h2>Reviews of our clients</h2>
  <div class="main-menu main-menu--left-bottom js-main-menu">
	 <ul class="main-menu__list">
		<li class="main-menu__item main-menu__item--home">
		  <a href="#page/home" title="Home"></a>
		</li>
		<li class="main-menu__item main-menu__item--about">
		  <a href="#page/about" title="About us"></a>
		</li>
		<li class="main-menu__item main-menu__item--works">
		  <a href="#page/works" title="Works"></a>
		</li>
		<li class="main-menu__item main-menu__item--portfolio">
		  <a href="#page/portfolio" title="Portfolio"></a>
		</li>
		<li class="main-menu__item main-menu__item--skills">
		  <a href="#page/skills" title="Skills"></a>
		</li>
		<li class="main-menu__item main-menu__item--price">
		  <a href="#page/price" title="Price"></a>
		</li>
		<li class="main-menu__item main-menu__item--contacts">
		  <a href="#page/contacts" title="Contacts"></a>
		</li>
	 </ul>
  </div>
</section>

<section class="section-skills" id="section-skills" data-position="8.3">
  <h2>Our skills</h2>
  <div class="main-menu main-menu--right-top js-main-menu">
	 <ul class="main-menu__list">
		<li class="main-menu__item main-menu__item--home">
		  <a href="#page/home" title="Home"></a>
		</li>
		<li class="main-menu__item main-menu__item--about">
		  <a href="#page/about" title="About us"></a>
		</li>
		<li class="main-menu__item main-menu__item--works">
		  <a href="#page/works" title="Works"></a>
		</li>
		<li class="main-menu__item main-menu__item--portfolio">
		  <a href="#page/portfolio" title="Portfolio"></a>
		</li>
		<li class="main-menu__item main-menu__item--reviews">
		  <a href="#page/reviews" title="Reviews"></a>
		</li>
		<li class="main-menu__item main-menu__item--price">
		  <a href="#page/price" title="Price"></a>
		</li>
		<li class="main-menu__item main-menu__item--contacts">
		  <a href="#page/contacts" title="Contacts"></a>
		</li>
	 </ul>
  </div>
</section>

<section class="section-price" id="section-price" data-position="2.2">
  <h2>Price</h2>
  <div class="main-menu main-menu--right-bottom js-main-menu">
	 <ul class="main-menu__list">
		<li class="main-menu__item main-menu__item--home">
		  <a href="#page/home" title="Home"></a>
		</li>
		<li class="main-menu__item main-menu__item--about">
		  <a href="#page/about" title="About us"></a>
		</li>
		<li class="main-menu__item main-menu__item--works">
		  <a href="#page/works" title="Works"></a>
		</li>
		<li class="main-menu__item main-menu__item--portfolio">
		  <a href="#page/portfolio" title="Portfolio"></a>
		</li>
		<li class="main-menu__item main-menu__item--reviews">
		  <a href="#page/reviews" title="Reviews"></a>
		</li>
		<li class="main-menu__item main-menu__item--skills">
		  <a href="#page/skills" title="Skills"></a>
		</li>
		<li class="main-menu__item main-menu__item--contacts">
		  <a href="#page/contacts" title="Contacts"></a>
		</li>
	 </ul>
  </div>
</section>

<section class="section-contacts" id="section-contacts" data-position="4.3">
  <h2>Our contacts</h2>
  <div class="main-menu main-menu--bottom js-main-menu">
	 <ul class="main-menu__list">
		<li class="main-menu__item main-menu__item--home">
		  <a href="#page/home" title="Home"></a>
		</li>
		<li class="main-menu__item main-menu__item--about">
		  <a href="#page/about" title="About us"></a>
		</li>
		<li class="main-menu__item main-menu__item--works">
		  <a href="#page/works" title="Works"></a>
		</li>
		<li class="main-menu__item main-menu__item--portfolio">
		  <a href="#page/portfolio" title="Portfolio"></a>
		</li>
		<li class="main-menu__item main-menu__item--reviews">
		  <a href="#page/reviews" title="Reviews"></a>
		</li>
		<li class="main-menu__item main-menu__item--skills">
		  <a href="#page/skills" title="Skills"></a>
		</li>
		<li class="main-menu__item main-menu__item--price">
		  <a href="#page/price" title="Price"></a>
		</li>
	 </ul>
  </div>
</section>