<div class="pfl-navigator">
  <%= link_to '<< Back>>', pfl_index_path %>
</div>

<section class="section-home" id="pfl-home">

  <div class="pflTile" id="pflTile">

    <div id="vh-example" style="overflow: hidden; position: absolute; width: 1vh;"></div>

    <div class="pflTile__item portfolio-tile" id="portfolio-tile">Portfolio</div>

    <div class="pflTile__item pflTile__item--small work-tile" id="work-tile">Work</div>

    <div class="pflTile__item pflTile__item--small price-tile" id="price-tile">Price</div>

    <div class="pflTile__item pflTile__item--long contact-tile" id="contact-tile">Contact</div>

    <div class="pflTile__item about-tile" id="about-tile">About Us</div>

    <div class="pflTile__item pflTile__item--long reviews-tile" id="reviews-tile">Reviews</div>

  </div>

</section>