.move-menu {
	position: fixed;
	top:100px;
	right: 0;
	z-index: 1010;
}

.move-menu-bar {
	float: left;
	width: 50px;
	background: grey;
	opacity: 0.5;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.move-menu-bar:hover {
	opacity: 1;
}

.move-menu-bar .move-menu-button {
	margin-top: 5px;
	margin-left: 5px;
	height: 28px;
	width: 40px;
	background: #CB401F;
	cursor: pointer;
	padding-top: 10px;
}

.move-menu-bar .move-menu-button .bar {
	display: block;
	background: white;
	height: 2px;
	width: 30px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.move-menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	opacity: 0;
	display: none;
}

.move-menu-list .move-menu-item {
	height: 50px;
	line-height: 50px;
	background: #CB401F;
	color: white;
	font-size: 20px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 0 15px;
}

.move-menu-list .move-menu-item:hover {
	background: #cb5e29;
}

.is-open {
	display: block;
}

.main-menu {
	position: absolute;
	right: 0;
	top: 100px;

	.main-menu__list {
		margin: 0;
		padding: 0;

		.main-menu__item {
			width: 70px;
			height: 70px;
			background: #CB401F;
			margin-bottom: 10px;
			list-style: none;
			cursor: pointer;
			background-repeat: no-repeat;

			&:hover {
				background: #cb5e29;
			}
			
			&.main-menu__item--home {
				background-image: image-url("menu-icons/dwelling1.svg");
			}

			&.main-menu__item--reviews {
				background-image: image-url("menu-icons/multiple25.svg");
			}

			&.main-menu__item--portfolio {
				background-image: image-url("menu-icons/briefcase13.svg");
			}

			&.main-menu__item--works {
				background-image: image-url("menu-icons/person128.svg");
			}

			&.main-menu__item--skills {
				background-image: image-url("menu-icons/medical50.svg");
			}

			&.main-menu__item--price {
				background-image: image-url("menu-icons/dollar178.svg");
			}

			&.main-menu__item--contacts {
				background-image: image-url("menu-icons/mail59.svg");
			}
		}
	}
}



