.main-menu {
	position: absolute;
	right: 0;
	top: 100px;

	.main-menu__list {
		margin: 0;
		padding: 0;

		.main-menu__item {
			width: 65px;
			height: 65px;
			background: #CB401F;
			margin-bottom: 10px;
			list-style: none;
			cursor: pointer;
			background-repeat: no-repeat;
			background-size: 60px 60px;
			background-position: center;

			&:hover {
				background: #cb5e29;
				background-size: 60px 60px;
				background-repeat: no-repeat;
				background-position: center;

			}
			
			&.main-menu__item--home {
				background-image: image-url("menu-icons/dwelling1.svg");
			}

			&.main-menu__item--about {
				background-image: image-url("menu-icons/important.svg");
			}

			&.main-menu__item--reviews {
				background-image: image-url("menu-icons/multiple25.svg");
			}

			&.main-menu__item--portfolio {
				background-image: image-url("menu-icons/briefcase13.svg");
			}

			&.main-menu__item--works {
				background-image: image-url("menu-icons/person128.svg");
			}

			&.main-menu__item--skills {
				background-image: image-url("menu-icons/medical50.svg");
			}

			&.main-menu__item--price {
				background-image: image-url("menu-icons/dollar178.svg");
			}

			&.main-menu__item--contacts {
				background-image: image-url("menu-icons/mail59.svg");
			}
		}
	}
}



