$blue: #0dbfe5;

$lightGray: #dddddd;
$gray: #999999;
$lightBlack: #333333;
$black: #111111;

$headerHeight: 50px;


header {
  height: $headerHeight;

  nav {
    width: 100%;

    ul{
      width: 100%;

      li {
        color: $lightGray;
        background: $black;
        height: $headerHeight;
        line-height: $headerHeight;
        width: 11%;
        text-align: center;
        float: left;
        cursor: pointer;
        font-family: 'Arial';
        font-weight: bold;
        border-right: 1px solid $gray;
        transition: 0.3s;

        &.active {
          background: $lightBlack;
        }

        &:first-child {
          border-left: 1px solid $gray;
        }

        &:hover {
          background: $lightBlack;
        }

      }

    }
  }

}