$white: #ffffff;

body, ul {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
}

body {
   background: $white;
   overflow: hidden;
}

body, html {
   width: 100%;
   height: 100%;

}

section {
   //float: left;
}
