// colors
$white: #ffffff;
$black: #111111;
$blue: #0dbfe5;

$gray: #999999;
$grey: #646464;

$lightBlack: #333333;
$lightGray: #dddddd;
$darkGray: #4e4e4e;

// sizes

$headerHeight: 50px;
$mainMenuHeight: 60px;
$containerWidth: 800px;
$sidebarRightWidth: 300px;
$moreButtonHeight: 36px;







$orange: #ff5700;




$darkWhite: #efefef;
$whiteGray: #e4e4e4;




$darkOrange: #f75a00;

// sizes


$articleImageHeight: 156px;
$secondSliderHeight: 120px;
$copyrightHeight: 69px;









