<!DOCTYPE html>
<html>
<head>
  <title>PortfolioProject</title>
  <%= stylesheet_link_tag 'pfl/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pfl/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
</body>
</html>